@import "./typography.css";
@import "./theming.css";
@import "./layout.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  overflow-x: hidden;

  background: var(--pageBackground);
  color: var(--textColor);

  font-family: var(--pageFont);
  font-size: var(--fontSize-base);
  line-height: var(--lineHeight-base);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
