:root {
  --fontSize-base: 16px;
  --fontSize-small: 12px;
  --fontSize-large: 20px;
  --lineHeight-base: 24px;
  --lineHeight-small: 20px;
  --lineHeight-large: 28px;
  --fontName: 'proxima-nova';
  --pageFont: var(--fontName) helvetica arial, sans-serif;
}

.fontFamily {
  font-family: var(--pageFont);
}

.fontSize-base {
  font-size: var(--fontSize-base);
}

.fontSize-small {
  font-size: var(--fontSize-small);
}

.fontSize-large {
  line-height: var(--fontSize-large) + var(--lineHeight-basis);
}

.lineHeight-base {
  line-height: var(--lineHeight-base);
}

.lineHeight-small {
  line-height: var(--lineHeight-small);
}

.lineHeight-large {
  line-height: var(--lineHeight-large);
}

.fontWeight-light {
  font-weight: 300;
}

.fontWeight-regular {
  font-weight: 400;
}

.fontWeight-bold {
  font-weight: 700;
}
